<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pimgento">
            <group id="general">
                <field id="lines_terminated" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>CSV: line ending</label>
                </field>
                <field id="fields_terminated" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>CSV: delimiter</label>
                </field>
                <field id="fields_enclosure" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>CSV: enclosure</label>
                </field>
                <field id="data_insertion_method" translate="label" type="select" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Data insertion method</label>
                    <source_model>Pimgento\Entities\Model\Source\InsertionMethod</source_model>
                </field>
                <field id="load_data_local" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Load Data Local</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Add LOCAL option to LOAD DATA INFILE request</comment>
                </field>
            </group>
        </section>
    </system>
</config>
