<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pimgento" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Pimgento</label>
            <tab>catalog</tab>
            <resource>Pimgento_Import::config_pimgento</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="website_mapping" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Website Mapping</label>
                    <frontend_model>Pimgento\Import\Block\Adminhtml\System\Config\Form\Field\Website</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Match Magento website with Pim channel</comment>
                </field>
                <field id="import_directory" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import directory</label>
                    <comment>var/{import_directory}</comment>
                </field>
            </group>
        </section>
    </system>
</config>
