<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Pimgento_Product" setup_version="1.0.1">
        <sequence>
            <module name="Pimgento_Entities"/>
            <module name="Pimgento_Import"/>
        </sequence>
    </module>
</config>