<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pimgento">
            <group id="product" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Products</label>
                <field id="attribute_mapping" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Attribute Mapping</label>
                    <frontend_model>Pimgento\Product\Block\Adminhtml\System\Config\Form\Field\Attribute</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Fill additional Magento attributes from Pim attributes</comment>
                </field>
                <field id="tax_class" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Tax Class</label>
                    <frontend_model>Pimgento\Product\Block\Adminhtml\System\Config\Form\Field\Tax</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Set up default tax class for website</comment>
                </field>
                <field id="configurable_attributes" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Configurable</label>
                    <frontend_model>Pimgento\Product\Block\Adminhtml\System\Config\Form\Field\Configurable</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Fill configurable attributes with default value, leave blank to take simple product value or variant value if exists</comment>
                </field>
            </group>
            <group id="image" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Image</label>
                <field id="path" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Relative Path to media folder</label>
                    <comment>If empty, will look at in the folder of the current imported file</comment>
                </field>
                <field id="is_move_file" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Move files</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>will delete the media from import folder</comment>
                </field>
                <field id="base_image" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Base image column code</label>
                    <frontend_class>required-entry</frontend_class>
                </field>
                <field id="thumbnail_image" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Thumbnail image column code</label>
                    <frontend_class>required-entry</frontend_class>
                </field>
                <field id="small_image" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Small image column code</label>
                    <frontend_class>required-entry</frontend_class>
                </field>
                <field id="swatch_image" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Swatch image column code</label>
                    <frontend_class>required-entry</frontend_class>
                </field>
                <field id="gallery_image" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Gallery image columns code</label>
                    <frontend_class>required-entry</frontend_class>
                    <comment>Can have more than one column, with comma separator</comment>
                </field>
            </group>
        </section>
    </system>
</config>
