<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pimgento>
            <general>
                <lines_terminated>\n</lines_terminated>
                <fields_terminated>;</fields_terminated>
                <fields_enclosure>"</fields_enclosure>
                <data_insertion_method>data_in_file</data_insertion_method>
                <load_data_local>0</load_data_local>
            </general>
        </pimgento>
    </default>
</config>
