<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pimgento>
            <entities>
                <lines_terminated>\n</lines_terminated>
                <fields_terminated>;</fields_terminated>
                <fields_enclosure>"</fields_enclosure>
            </entities>
        </pimgento>
    </default>
</config>
