.pimgento-uploader,
.pimgento-console {
    float:left
}

.pimgento-uploader {
    width:600px;
    border:1px solid #ccc;
    padding:10px;
    background:#f8f8f8;
    margin-right:5px;
    min-height:430px
}

.import-file,
.import-type{
    background:#fff;
    border:1px solid #ccc;
    width:125px;
    float:left;
    margin:0 0.8rem 0.8rem;
    text-align:center;
    cursor:pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:5px;
}

.import-file {
    height:125px;
    font-size:1.1rem;
    background:#fff url(../images/file.png) no-repeat center 30px;
}

.image-placeholder {
    margin-bottom:0.8em;
    margin-top:0;
}

.image.image-placeholder:before {
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    content:'';
    height:45px;
    background:url(../images/file-select.png) no-repeat center
}

.import-type {
    height:30px;
    font-size:1.2rem;
}

.pimgento-files .import-file:hover,
.pimgento-files .active {
    background:#eb5202 url(../images/file-hover.png) no-repeat center 30px;
    color:#fff;
}

.pimgento-types .import-type:hover,
.pimgento-types .active {
    background:#eb5202;
    color:#fff;
}

.pimgento-types,
.pimgento-files,
.pimgento-import {
    margin-bottom:30px
}

.pimgento-step {
    float:left;
    clear:both;
    margin-bottom:37px;
    width:580px
}

.step-last {
    margin-bottom:0
}

.pimgento-step .primary {
    float:right
}

.pimgento-console {
    border:1px solid #ccc;
    background:#000;
    padding:5px 10px;
    width:610px;
    margin:0;
    color:#0F0;
    height:430px;
    overflow-y:scroll
}

.pimgento-console .waiting {
    background:url(../images/loader.gif) no-repeat right
}

.pimgento-console .error {
    color:#c00;
}

.pimgento-console .success {
    color:#e38d13;
}
