<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="pimgento_load_import">
        <observer name="pimgento.family" instance="Pimgento\Family\Observer\AddPimgentoImportObserver" />
    </event>
    <event name="eav_entity_attribute_set_delete_after">
        <observer name="magento.family.delete" instance="Pimgento\Family\Observer\RemovePimgentoCodeObserver" />
    </event>
</config>